* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  display: block;
  max-width: 1090px;
  margin: 0 auto;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f6;
}

.form-btn {
  text-align: center;
}

button {
  font: inherit;
  background: #ffae36;
  border: 1px solid #ff9900;
  border-radius: 40px;
  box-shadow: 0 2px 0 #b6710a;
  cursor: pointer;
  color: white;
  padding: 0.75rem 2rem;
  transition: .3s;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ffcb7c;
  border-color: #ffcb7c;
  box-shadow: 0 2px 0 #be9b66;
}

.projects {
  margin: 1rem;
  border: 1px solid #f32222;
}

.projects header {
  background: #f32222;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-projects {
  border-color: #2b6ce6;
}

#finished-projects header {
  background: #2b6ce6;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 3rem 2rem;
}

.projects li {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background-color: white;
}

.projects li + li {
  margin-top: 20px;
}

.projects li h2 {
  color: #f32222;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #2b6ce6;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #b9ae94;
  border-radius: 2px;
  background: #f7f7f7;
}
